/*positioning*/
the-rest {
    position: static
}

main-header {
    position: sticky;
    top: 0px;
}

/*boxing*/
/*TODO: Margin, border, padding*/
table-of-contents {
    margin-top: 0.2cm;
    margin: bottom 0.2cm;
    margin-left: 0.5cm;
    margin-right: 0cm;

    padding-top: 1cm;
    padding: left 0.8cm;
    padding-right: 0cm;
    padding: bottom 0.8cm;

    border-style: solid double solid solid;
    border-bottom: 10px solid darkgreen;

    border-color:darkblue;
    border-width: 4px;
    border-radius: 1px;
}